<template name="recordRide">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
		
	<div class="pp-inbranch-container"> 	
        
		<div class="row page-title">
			<div class="col">
				<h4>Record your ride</h4>
			</div>		
		</div>	
		

        <div id="rr-instr" class="list list-inset">
            <div class="item"><strong>Select Transport Type and press START</strong></div>            
            <div id="trans-type-button" class="button-bar bar-calm">
                  <a class="button" data-action="rr-trantype" data-val="auto">Auto</a>
                  <a class="button" data-action="rr-trantype" data-val="van">Van</a>
                  <a class="button" data-action="rr-trantype" data-val="bus">Bus</a>
            </div>            
        </div>
        
        
        <div class="row button-container">
            <div class="col">
                <button data-action="rr-start">
                  START
                </button>
            </div>
            <div class="col rr-duration-container">
                <div id="rr-duration">00&#58;00&#58;00</div>
            </div>            
            <div class="col">
                <button data-action="rr-stop">
                  STOP
                </button>
            </div>        
        </div>					
        
        <div class="row">
            <div class="col map-container">
                {{#unless geolocationError}}
                  {{> googleMap name="map" options=mapOptions}}
                {{else}}
                  Geolocation failed: {{geolocationError}}
                {{/unless}}                
            </div>
        </div>
		
	</div>	
    {{/ionContent}}  
    
    {{> _tabs}}
    
  {{/ionView}}
</template>