<template name="ppHeader">
  {{#contentFor "headerTitle"}}
    <img src="/images/logo-smart-transit-header.png?r201510111159" />
    {{! <h1 class="title">Smart City Transit</h1> }}
  {{/contentFor}}
</template>


<template name="index">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
    <div class="row index-title">
        <div class="col">
            <h4>Your Smart Transit App</h4>
        </div>
    </div>
    
    
	<div class="pp-home-icons-container">  
		<div class="row pp-icon-row">
			<div class="col pp-icon">
				{{#linkTo route="recordRide" class="pp-icon-link"}}
				<img src="/images/icon-record-ride.png?r201510101947" />
				<br/>
				<span class="text">Record a Ride</span>  
				{{/linkTo}}				
			</div>			
			<div class="col pp-icon">
				{{#linkTo route="searchRide" class="pp-icon-link"}}
				<img src="/images/icon-locator.png?r201510111212" />
				<br/>
				<span class="text">Search Rides</span>  
				{{/linkTo}}	
			</div>
		</div>        
    </div>
    {{/ionContent}}
    
    {{> _tabs}}
    
  {{/ionView}}
</template>
